<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>124539578739-senkv3he3nc7b77p5sml04v81ec5n6ct.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.124539578739-senkv3he3nc7b77p5sml04v81ec5n6ct</string>
	<key>API_KEY</key>
	<string>AIzaSyDhoqlKz1hrRxO-yIWL1C0wn68PZBBDw70</string>
	<key>GCM_SENDER_ID</key>
	<string>124539578739</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.realtime</string>
	<key>PROJECT_ID</key>
	<string>realtime-cb925</string>
	<key>STORAGE_BUCKET</key>
	<string>realtime-cb925.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:124539578739:ios:df88c6b098d54b41b6bd06</string>
</dict>
</plist>